* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
body {
    width: 960px;
    margin: 20px auto;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    margin: 20% 20%;
}
nav a {
    display: block;
    text-decoration: none;
}
article {
    display: inline-block;
    margin-left: 500px;
}