* {
    box-sizing: border-box;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    margin: 20% 20%;
}
nav a {
    display: block;
    text-decoration: none;
    text-align: center;
}
h1 {
    margin-left: 44em;
    
}
img {
    margin-left: 60em;
    
}
p {
    padding-left: 50%;
}